* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: "Officina Sans";
    src: url("/assets/fonts/OfficinaSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    width: 1080px;
    /* 100%; */
    min-height: 100vh;
    /*background-image: url(./img/site_vesna_2022_mobile_4_2_2.jpg);
    background-repeat: no-repeat;*/
}
/*
div {
    border: 3px solid red;
}*/

[class^="button"] {
    display: grid;
}

.calendar .wrapper {
    display: grid;
    justify-items: center;
    gap: 40px;
}

.header {
    height: calc(200px + 200px);
    background-image: url(/assets/images/shapka.png);
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: -300px;
    
}

.promo {
    height: 1280px;
    background-image: url(/assets/images/fon.jpg);
    background-repeat: no-repeat;
}

.calendar {
    height: 1140px;
    background-image: url(/assets/images/fon.jpg);
    background-repeat: no-repeat;
    background-position: 0px -1280px;
}

.footer {
    height: 430px;
    background-image: url(/assets/images/fon_niz.jpg);
    background-repeat: no-repeat;
}

.button {
    width: 642px;
    height: 98px;
    display: inline-block;
    background-repeat: no-repeat;
}

.button-big {
    width: 630px;
    height: 172px;
    display: inline-block;
    background-repeat: no-repeat;
}

.button-calendar {
    margin-top: 120px;
    margin-bottom: 80px;
    background-image: url(/assets/images/button_calendar.png);    
}

.button-guests {
    background-image: url(/assets/images/button_gosti.png);
}

.button-places {
    background-image: url(/assets/images/button_ploschad.png);
}

.button-event {
    background-image: url(/assets/images/button_sobytie.png);
}

.button-sponsors {
    background-image: url(/assets/images/button_blagotvoriteli.png);
}

.button-route {
    background-image: url(/assets/images/button_kak_dobratsya.png);
}

.button:hover {
    cursor: pointer;
}

.icon {
    width: 93px;
    height: 93px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon-email {
    background-image: url(/assets/images/mail.png);
}

.icon-vk {
    background-image: url(/assets/images/vk.png);
}

.icon-fb {
    background-image: url(/assets/images/fb.png);
}

.icon-ok {
    background-image: url(/assets/images/ok.png);
}

.icon-instagram {
    background-image: url(/assets/images/inst.png);
}

.icon:hover {
    cursor: pointer;
}

[class^="icon"] {
    display: grid;
    align-items: center;
}

.wrapper .social {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    gap: 10px;
    grid-auto-columns:auto;
    grid-auto-flow: column;
    justify-items: center;
}

.footer__navigation .navigation {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Officina Sans;
    justify-items: center;
    display: grid;
    grid-auto-columns:auto; 
    grid-auto-flow: column;
}

[class^="sub"] {
    display: grid;
    align-items: center;
}

.sub::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    top: 20px;
    left: -30px;
    background-image: url(/assets/images/dot.png);
    background-repeat: no-repeat;
}

.sub {
    margin-top: 75px;
    margin-bottom: 50px;
    color: white;
    font-size: +2rem;
}

.sub:hover {
    cursor: pointer;
}

.copyright {
    color: #b1b1b1;
    text-align: center;
    margin-top: 10px;
}

.header__text {
    margin-top: 50px;
}

.header_text {
    color: white;
    font-family: Officina Sans;
    font-size: +4rem;
    margin-left: 270px;
}

.promo__name {
    color: rgb(240, 98, 98);
    font-family: Officina Sans;
    font-size: +6rem;
    margin-left: 20px;
    margin-top: 230px;
}

.promo_place {
    margin-top: 550px;
    color: rgb(240, 98, 98);
    font-family: Officina Sans;
    font-size: +3rem;
    vertical-align: center;   
}

.icon-place{
    display: inline-block;
    width: 170px;
    height: 170px;
    margin-left: 200px;
    margin-right: 20px;
    background-image: url(/assets/images/button_map.png);
    background-repeat: no-repeat;
}

.promo_place p {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.place {
    font-size: +5rem;
    vertical-align: center;
}

.p {
    font-size: -3rem;
}